html {
    font-size: var(--html-font-size);
}
body {
    background: var(--body-background);
}
#root {
    @mixin size 100%;
}
@import "mixins/size";
@import '~bootstrap/mixins';
@import "~@angular/material/theming";
@import 'variables/color';
@import "variables/font.css";
