@define-mixin size $width, $height: $width {
    width: $width;
    height: $height;
}
--body-background: #fff;
--html-font-size: 100px;
--panel-background: url('variables/a.png');
--panel-background-alias: url('~@angular/material/theming/a.png');
--panel-background-base64: url('data:image/jpeg;base64,bm90IGFjdHVhbGx5IGEganBlZyBmaWxlCg==');
html {
    font-size: var(--html-font-size);
}
body {
    background: var(--body-background);
}
div {
    background: var(--panel-background);
}
#root {
    @mixin size 100%;
}
