@import "mixins/size";
@import '~bootstrap/mixins';
@import "~@angular/material/theming";
@import "$CWD/node_modules/webpack/package.json";
@import 'variables/color';
@import "variables/font.css";
@import 'variables/urls.css';
html {
    font-size: var(--html-font-size);
}
body {
    background: var(--body-background);
}
div {
    background: var(--panel-background);
}
#root {
    @mixin size 100%;
}
