@import "resources/mixins";
@import "resources/theming";
@import "resources/variables";
html {
    font-size: var(--html-font-size);
}
body {
    background: var(--body-background);
}
div {
    background: var(--panel-background);
}
#root {
    @mixin size 100%;
}
