@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
$body-background: #fff;
$html-font-size: 100px;
html {
    font-size: $html-font-size;
}
body {
    background: $body-background;
}
#root {
    @include size(100%);
}
